.AboutGrid{
    width: 75%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: start;
    align-items: center;
}

.AboutGrid img{
    align-self: center;
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 15px 15px 100px 30px rgba(255,255,255,0.2);
    border: 7px solid var(--color2);
}

@media (max-width: 1024px) {
    .AboutGrid{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        justify-items: center;
    }

    .AboutGrid img{
        max-width: 40%;
        max-height:40%;
    }
}