.SkillsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Sütunları otomatik genişlikte ayarla */
    grid-gap: 10vh;
}

.Skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 3px solid var(--color4);
    border-radius: 1vh;
    transition: transform 300ms ease-in-out;
}

.Skills:hover{
    transform: scale3d(1.2,1.2,1);
}

.Skills img{
    user-select: none;
    flex: 0.5;
    padding: 8px;
}

.Skills span{
    flex: 2.5;
    user-select: none;
    font-family: "Jost",sans-serif;
    font-weight: 500;
    font-size: 15px;
}

@media (max-width: 1024px) {
    .SkillsGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .SkillsGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}