.App{
    background: radial-gradient(350px circle at var(--x) var(--y), var(--color2) 0%, transparent 90%);
}

.Main{
    color: var(--color4);
}

.Content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Content h1{
    user-select: none;
    width: 70%;
    font-family: "Jost",sans-serif;
    font-weight: 300;
    font-size: 7vh;
}

.Content p{
    width: 75%;
    font-family: "Jost",sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    user-select: none;
}